<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:a="http://schemas.android.com/apk/res/android" a:versionCode="1" a:versionName="1.0" package='com.example.helloandroid'>
	<uses-sdk a:minSdkVersion="27" a:targetSdkVersion="33" />
	<uses-permission a:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission a:name="android.permission.INTERNET" />
	<uses-permission a:name="android.permission.ACCESS_NETWORK_STATE" />

         
 

        <application a:label='A Hello Android'>
          <activity a:name='com.example.helloandroid.MainActivity'>
             <intent-filter>
                <category a:name='android.intent.category.LAUNCHER'/>
                <action a:name='android.intent.action.MAIN'/>
             </intent-filter>
          </activity>
        </application>
</manifest>
