<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:a="http://schemas.android.com/apk/res/android" a:versionCode="0" a:versionName="0" package='com.example.helloandroid'>
AddManifestText(
<uses-sdk a:minSdkVersion="14"  a:targetSdkVersion="31"/>
<supports-screens a:largeScreens="true"
    a:normalScreens="true"
    a:smallScreens="true"
    a:anyDensity="true"/>)
        

        <application a:label='A Hello Android'>
          <activity a:name='com.example.helloandroid.MainActivity'>
             <intent-filter>
                <category a:name='android.intent.category.LAUNCHER'/>
                <action a:name='android.intent.action.MAIN'/>
             </intent-filter>
          </activity>
        </application>
</manifest>
