name: CI
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  

    
    
jobs:
 
  build-with-upload-artifact:
    runs-on:   ubuntu-latest
    
  
    steps:
        

    
    - uses:  actions/checkout@v3
    
    
   

    - name: Set up JDK 1.8
      uses: actions/setup-java@v3
      with:
          java-version: 11.0.16
          distribution: 'adopt'

     
      

    - name: Android JDK install and aab build 
      env:
        PASSWORDB64: ${{ secrets.PASSWORDB64 }}
        KEYSTORE_JKS: ${{ secrets.KEYSTORE_JKS }}
        
      run: |
             sudo apt-get install libc6-dev-i386 lib32z1 openjdk-11-jdk
             
             cd /usr/local/lib/android
             
             pwd
             ls -l
             cd /home/runner/work/android-java-terminal/android-java-terminal/
             chmod +x build.sh
             ./build.sh
             /usr/local/lib/android/sdk/build-tools/31.0.0/zipalign   -p -f -v 4 /home/runner/work/android-java-terminal/android-java-terminal/bin/hello.unaligned.aab /home/runner/work/android-java-terminal/android-java-terminal/bin/hello.aab 
             cp /home/runner/work/android-java-terminal/android-java-terminal/bin/hello.aab /home/runner/work/android-java-terminal/android-java-terminal/app/build/outputs/apk/release/ 
             cd /home/runner/work/android-java-terminal/android-java-terminal/app/build/outputs/apk/release/
             pwd
             ls -l 
             gradle init 
             cd /home/runner/work/android-java-terminal/android-java-terminal/
             pwd
             ls -l
             chmod +x gradlew
             /.gradlew bundlerelease
            
             

             cd /home/runner/work/android-java-terminal/android-java-terminal/
             echo $PASSWORDB64 | base64 -d > /home/runner/work/android-java-terminal/android-java-terminal/password.txt
             echo $KEYSTORE_JKS| base64 -d > /home/runner/work/android-java-terminal/android-java-terminal/keystore.jks
             
             cd /home/runner/work/android-java-terminal/android-java-terminal/
             ls -l
             chmod +x password.txt 
             # cat password.txt
             /usr/local/lib/android/sdk/build-tools/30.0.0/apksigner sign --ks   /home/runner/work/android-java-terminal/android-java-terminal/keystore.jks   /home/runner/work/android-java-terminal/android-java-terminal/app/build/outputs/apk/release/hello.aab  <  password.txt          
             /usr/local/lib/android/sdk/build-tools/30.0.0/apksigner verify -v  -v4-signature-file /home/runner/work/android-java-terminal/android-java-terminal/app/build/outputs/apk/release/hello.aab.idsig /home/runner/work/android-java-terminal/android-java-terminal/app/build/outputs/apk/release/hello.aab 
                           
           
    - name: Upload AAB
     
      uses: actions/upload-artifact@v2
      with:
          name: aab file with signing
          path: /home/runner/work/android-java-terminal/android-java-terminal/app/build/outputs/apk/release/hello.aab   
           
     
   #- name: Upload AAB to GOOGLE  STORE
   #   uses: r0adkll/upload-google-play@v1
   #   with:
   #     serviceAccountJsonPlainText: ${{ secrets.SERVICEACCOUNTJSONPLAINTEXT }}
   #     packageName: com.example.helloandroid
   #     releaseFiles:  /home/runner/work/android-java-terminal/android-java-terminal/app/build/outputs/apk/release/hello.aab
   #     track: production
   #     status: inProgress
   #     inAppUpdatePriority: 2
   #     userFraction: 0.33
   #     whatsNewDirectory: /home/runner/work/android-java-terminal/android-java-terminal/app/build/outputs/apk/release/whatsnew
   #     mappingFile: app/build/outputs/mapping/release/mapping.txt
          
   
  
  
  
