name: CI
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
    


    
    
jobs:
 
  build-with-upload-artifact:
    runs-on: ubuntu-latest
      
    steps:
        

    
    - uses: actions/checkout@v3
    
    
   

    - name: Set up JDK 1.8
      uses: actions/setup-java@v3
      with:
          java-version: 18.0.2+9
          distribution: 'adopt'

    - name: Android JDK install and apk build
      run: |
             sudo apt-get install libc6-dev-i386 lib32z1 openjdk-8-jdk
             pwd
             ls -l 
             chmod +x build.sh
             ./build.sh
             openssl base64 < /home/runner/work/android-java-terminal/android-java-terminal/Kostya.jks | tr -d '\n' | tee some_signing_key.jks.base64.txt
             pwd
             ls -l
             cat some_signing_key.jks.base64.txt
             
        
        
    - name: Upload APK
     
      uses: actions/upload-artifact@v2
      with:
           name: hello.unaligned.apk
           path: /home/runner/work/android-java-terminal/android-java-terminal/bin      
           
   # - uses: ShaunLWM/action-release-debugapk@master
   #   env:
   #     GITHUB_TOKEN: ${{ secrets.TOKEN }}
   #      APP_FOLDER: app
   #     RELEASE_TITLE: BarberApp

    
    - uses:  r0adkll/sign-android-release@v1
      with:
        releaseDirectory:  /home/runner/work/android-java-terminal/android-java-terminal/app/build/outputs/apk/release
        signingKeyBase64: ${{ secrets.SIGNING_KEY }}
        alias: ${{ secrets.ALIAS }}
        keyStorePassword: ${{ secrets.KEY_STORE_PASSWORD }}
        keyPassword: ${{ secrets.KEY_PASSWORD }}        
          
   
    # - name: Sign app APK
     # uses: Tlaster/android-sign@v1
     # with:
     #  releaseDirectory: |
     #   app/build/outputs/apk/release
     #   app/build/outputs/bundle/release
     #  signingKeyBase64: ${{ secrets.SIGNING_KEY }}
     #  output: build/release/signed
     #  alias: ${{ secrets.ALIAS }}
    # keyStorePassword: ${{ secrets.KEY_STORE_PASSWORD }}
     #  keyPassword: ${{ secrets.KEY_PASSWORD }}
     #env:
     #  BUILD_TOOLS_VERSION: "30.0.2"
    
  
  
  
  
