name: CI
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  

    
    
jobs:
 
  build-with-upload-artifact:
    runs-on:  ubuntu-latest
    
  
    steps:
        

    
    - uses: actions/checkout@v3
    
    
   

    - name: Set up JDK 1.8
      uses: actions/setup-java@v3
      with:
          java-version: 11.0.16
          distribution: 'adopt'

    - name: Android JDK install and apk build 
      env:
        PASSWORDB64: ${{ secrets.PASSWORDB64 }}
        
      run: |
             sudo apt-get install libc6-dev-i386 lib32z1 openjdk-11-jdk
             cd /usr/local/lib/android/sdk/build-tools/
             pwd
             ls -l
             cd /home/runner/work/android-java-terminal/android-java-terminal/
             chmod +x build.sh
             ./build.sh
             /usr/local/lib/android/sdk/build-tools/30.0.0/zipalign   -p -f -v 4 /home/runner/work/android-java-terminal/android-java-terminal/bin/hello.unaligned.apk /home/runner/work/android-java-terminal/android-java-terminal/bin/hello.apk 
             cp /home/runner/work/android-java-terminal/android-java-terminal/bin/hello.apk /home/runner/work/android-java-terminal/android-java-terminal/app/build/outputs/apk/release/ 
             cd /home/runner/work/android-java-terminal/android-java-terminal/app/build/outputs/apk/release/
             pwd
             ls -l 
             
             
             

             cd /home/runner/work/android-java-terminal/android-java-terminal/
             echo $PASSWORDB64 | base64 -d > /home/runner/work/android-java-terminal/android-java-terminal/password.txt
             cd /home/runner/work/android-java-terminal/android-java-terminal/
             ls -l
             chmod +x password.txt 
             # cat password.txt
             /usr/local/lib/android/sdk/build-tools/30.0.0/apksigner sign --ks   /home/runner/work/android-java-terminal/android-java-terminal/app/build/outputs/apk/release/Kostya.jks  --ks-key-alias Kostya  /home/runner/work/android-java-terminal/android-java-terminal/app/build/outputs/apk/release/hello.apk  <  password.txt          
             /usr/local/lib/android/sdk/build-tools/30.0.0/apksigner verify -v  -v4-signature-file /home/runner/work/android-java-terminal/android-java-terminal/app/build/outputs/apk/release/hello.apk.idsig /home/runner/work/android-java-terminal/android-java-terminal/app/build/outputs/apk/release/hello.apk 
                           
           
    - name: Upload APK
     
      uses: actions/upload-artifact@v2
      with:
          name: apk file with signing
          path: /home/runner/work/android-java-terminal/android-java-terminal/app/build/outputs/apk/release/hello.apk   
           
     
  
          
   
  
  
  
