name: CI
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

    
    
jobs:
 
  build-with-upload-artifact:
    runs-on:   ubuntu-latest
    
  
    steps:
        

    
    - uses:  actions/checkout@v3
    
    
   

    - name: Set up JDK 
      uses: actions/setup-java@v3
      with:
          java-version: 16.0.1+9
          distribution: 'adopt'


    - name: Backup JAVA_HOME
      id: java-home
      run: echo "::set-output name=path::$JAVA_HOME"
    
    
      



    - name: Android JDK install and aab build 
      env:
        PASSWORDB64: ${{ secrets.PASSWORDB64 }}
        KEYSTORE_JKS: ${{ secrets.KEYSTORE_JKS }}
        
      run: |
             java -version
             sudo apt-get update
             echo sudo apt-get install libc6-dev-i386 lib32z1
             sudo apt-get install libc6-dev-i386 lib32z1 
             echo pwd ls-l
             cd /opt/hostedtoolcache/Java_Adopt_jdk/16.0.1-9/x64/lib
             dpkg -L libc6-dev-i386
             dpkg -L lib32z1
             
             
             pwd
             ls -l
             
             
             
             
             
             
             
             
             
             
             
             
             
             
             cd /home/runner/work/android-java-terminal/android-java-terminal/
             chmod +x build.sh
             ./build.sh
                              
                    
             

            
                           
           
    - name: Upload APK 
     
      uses: actions/upload-artifact@v3
      with:
          name: apk file with signing
          path: /home/runner/work/android-java-terminal/android-java-terminal/app/build/outputs/apk/release/hello.apk   
           
    - name: Upload AAB
     
      uses: actions/upload-artifact@v3
      with:
          name:  aab  file with signing
          path: /home/runner/work/android-java-terminal/android-java-terminal/bin/hello.aab   
           
   
   
    - name: Upload Mainactivity.class
     
      uses: actions/upload-artifact@v3
      with:
          name:  Mainactivity.class
          path: /home/runner/work/android-java-terminal/android-java-terminal/obj/com/hellokostya/helloandroid/MainActivity.class

    # - name: Upload All
     
    #   uses: actions/upload-artifact@v3
    #  with:
    #      name:  android-all
    #      path: /usr/local/lib/android/
     
 
 
 
 
 
 
 
 
    - name: Upload signing_key.jks
     
      uses: actions/upload-artifact@v3
      with:
          name:  signing_key.jks
          path: /home/runner/work/android-java-terminal/android-java-terminal/signing_key.jks
  
    - name: Archive site content
      uses: thedoctor0/zip-release@master
      with:
            filename: test.zip     
            exclusions: ' *.cpp / *.c /*.yml  / .git'  
               
    - name: Create new release
      id: create-new-release
      uses: actions/create-release@latest
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
          tag_name: ${{ github.run_number }}
          release_name: Release ${{ github.run_number }}
          body: |
                run_number
          draft: false
          prerelease: false     

    
    
  
  
  
