name: Run Android build
on:
  push:
   branches: [ main ]

jobs:
  build-with-upload-artifact:

    runs-on: ubuntu-latest

   
    steps:
    
 
      
      
    - name: Set up JDK 1.8
      uses: actions/setup-java@v3
      with:
          java-version: 1.8
          distribution: 'adopt'

    - name: Setup Android SDK
      id: 'setup-android'
      uses: ./build/
