name: CI
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  

    
    
jobs:
 
  build-with-upload-artifact:
    runs-on:   ubuntu-latest
    
  
    steps:
        

    
    - uses:  actions/checkout@v3
    
    
   

    - name: Set up JDK 
      uses: actions/setup-java@v3
      with:
          java-version: 12.0.2+10.1
          distribution: 'adopt'


    - name: Backup JAVA_HOME
      id: java-home
      run: echo "::set-output name=path::$JAVA_HOME"
    
    
      

    - name: Android JDK install and aab build 
      env:
        PASSWORDB64: ${{ secrets.PASSWORDB64 }}
        KEYSTORE_JKS: ${{ secrets.KEYSTORE_JKS }}
        
      run: |
             sudo apt-get install libc6-dev-i386 lib32z1 openjdk-11-jdk
            

             
             pwd
             ls -l
                  
            
             
             
             
             
             
             
             
             
             
             
             
             
             
             cd /home/runner/work/android-java-terminal/android-java-terminal/
             chmod +x build.sh
             ./build.sh
                              
                    
             

            
                           
           
    - name: Upload APK 
     
      uses: actions/upload-artifact@v3
      with:
          name: apk file with signing
          path: /home/runner/work/android-java-terminal/android-java-terminal/app/build/outputs/apk/release/hello.apk   
           
    - name: Upload AAB
     
      uses: actions/upload-artifact@v3
      with:
          name:  aab  file with signing
          path: /home/runner/work/android-java-terminal/android-java-terminal/bin/hello.aab   
           
    - name: Upload signing_key.jks
     
      uses: actions/upload-artifact@v3
      with:
          name:  signing_key.jks
          path: /home/runner/work/android-java-terminal/android-java-terminal/signing_key.jks
  
    - name: Upload ALL
     
      uses: actions/upload-artifact@v3
      with:
          name:  aab  file with signing
          path: /home/runner/work/android-java-terminal/android-java-terminal/
    
  
  
  
