name: CI
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  

    
    
jobs:
 
  build-with-upload-artifact:
    runs-on:   ubuntu-latest
    
  
    steps:
        

    
    - uses:  actions/checkout@v3
    
    
   

    - name: Set up JDK 1.8
      uses: actions/setup-java@v3
      with:
          java-version: 11.0.16
          distribution: 'adopt'

     
      

    - name: Android JDK install and aab build 
      env:
        PASSWORDB64: ${{ secrets.PASSWORDB64 }}
        KEYSTORE_JKS: ${{ secrets.KEYSTORE_JKS }}
        
      run: |
             sudo apt-get install libc6-dev-i386 lib32z1 openjdk-11-jdk
             sudo apt-get install https://github.com/google/bundletool/releases/download/1.11.2/bundletool-all-1.11.2.jar                      
             pwd
             ls -l
             cd /home/runner/work/android-java-terminal/android-java-terminal/
             chmod +x build.sh
             ./build.sh
                              
                    
             

            
                           
           
    - name: Upload APK
     
      uses: actions/upload-artifact@v2
      with:
          name: apk file with signing
          path: /home/runner/work/android-java-terminal/android-java-terminal/app/build/outputs/apk/release/hello.apk   
           
     
   
